#### Michael Perrine
#### DSC 630 Predictive Analytics
#### Python Refresher
#### Professor Farley


<h1><center>Analysis of NFL Data</center></h1>

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [18]:
warnings.filterwarnings('ignore')

In [4]:
nfl = pd.read_csv('nfl stats.csv')

In [5]:
nfl.head(10)

,Age,Birth Place,Birthday,College,Current Status,Current Team,Experience,Height (inches),High School,High School Location,Name,Number,Player Id,Position,Weight (lbs),Years Played
0,NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,Retired,NaN,3 Seasons,71.0,NaN,NaN,"Evans, Fred",NaN,fredevans/2513736,NaN,185.0,1946 - 1948
1,NaN,"Dayton , OH",12/21/1930,Dayton,Retired,NaN,1 Season,70.0,NaN,NaN,"Raiff, Jim",NaN,jimraiff/2523700,NaN,235.0,1954 - 1954
2,56.0,"Temple , TX",9/11/1960,Louisiana Tech,Retired,NaN,1 Season,74.0,NaN,NaN,"Fowler, Bobby",NaN,bobbyfowler/2514295,NaN,230.0,1985 - 1985
3,30.0,"New Orleans , LA",9/30/1986,LSU,Retired,NaN,5 Seasons,73.0,NaN,NaN,"Johnson, Quinn",NaN,quinnjohnson/79593,NaN,255.0,2009 - 2013
4,25.0,"Detroit , MI",3/31/1992,Central Michigan,Active,Pittsburgh Steelers,3rd season,77.0,Clintondale HS,"Clinton Twp.,Macomb Co., MI","Walton, L.T.",96.0,l.t.walton/2552444,DE,305.0,NaN
5,NaN,"Sumner , IL",9/11/1892,Illinois,Retired,NaN,1 Season,73.0,NaN,NaN,"Petty, Ross",NaN,rosspetty/2523136,NaN,180.0,1920 - 1920
6,NaN,"Casper , WY",9/16/1920,Wisconsin,Retired,NaN,3 Seasons,73.0,NaN,NaN,"Farris, Tom",NaN,tomfarris/2513861,NaN,185.0,1946 - 1948
7,22.0,"Navarre , FL",1/31/1995,Clemson,Active,New York Jets,Rookie,77.0,Navarre HS,FL,"Leggett, Jordan",NaN,jordanleggett/2557885,TE,250.0,NaN
8,NaN,NaN,NaN,No College,Retired,NaN,1 Season,NaN,NaN,NaN,"Thompson, Pinky",NaN,pinkythompson/2527303,NaN,NaN,1927 - 1927
9,98.0,"Alverton , PA",2/23/1919,Duquesne,Retired,NaN,1 Season,70.0,NaN,NaN,"Gonda, George",NaN,georgegonda/2515030,NaN,175.0,1942 - 1942

In [6]:
nfl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17172 entries, 0 to 17171
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   13504 non-null  float64
 1   Birth Place           14794 non-null  object
 2   Birthday              16835 non-null  object
 3   College               17133 non-null  object
 4   Current Status        17172 non-null  object
 5   Current Team          3096 non-null   object
 6   Experience            17133 non-null  object
 7   Height (inches)       17026 non-null  float64
 8   High School           2514 non-null   object
 9   High School Location  2510 non-null   object
 10  Name                  17172 non-null  object
 11  Number                1708 non-null   float64
 12  Player Id             17172 non-null  object
 13  Position              3096 non-null   object
 14  Weight (lbs)          17121 non-null  float64
 15  Years Played          14076 non-null  object
dtypes: float64(4), object(12)
memory usage: 2.1+ MB

In [7]:
nfl.isnull().sum()

Age                      3668
Birth Place              2378
Birthday                  337
College                    39
Current Status              0
Current Team            14076
Experience                 39
Height (inches)           146
High School             14658
High School Location    14662
Name                        0
Number                  15464
Player Id                   0
Position                14076
Weight (lbs)               51
Years Played             3096
dtype: int64

In [12]:
nfl_active = nfl.loc[nfl['Current Status']=='Active']

In [13]:
nfl_active.head(10)

,Age,Birth Place,Birthday,College,Current Status,Current Team,Experience,Height (inches),High School,High School Location,Name,Number,Player Id,Position,Weight (lbs),Years Played
4,25.0,"Detroit , MI",3/31/1992,Central Michigan,Active,Pittsburgh Steelers,3rd season,77.0,Clintondale HS,"Clinton Twp.,Macomb Co., MI","Walton, L.T.",96.0,l.t.walton/2552444,DE,305.0,NaN
7,22.0,"Navarre , FL",1/31/1995,Clemson,Active,New York Jets,Rookie,77.0,Navarre HS,FL,"Leggett, Jordan",NaN,jordanleggett/2557885,TE,250.0,NaN
17,25.0,NaN,3/11/1992,Pittsburgh,Active,Washington Redskins,1st season,74.0,NaN,NaN,"Garner, Manasseh",NaN,manassehgarner/2553801,TE,220.0,NaN
35,29.0,"Dayton , OH",4/1/1988,Ohio State,Active,Carolina Panthers,8th season,71.0,Northmont HS,"Clayton, OH","Coleman, Kurt",20.0,kurtcoleman/494261,SS,200.0,NaN
37,26.0,"Rodeo , CA",7/28/1990,Ohio U.,Active,Oakland Raiders,4th season,72.0,De La Salle HS,"Concord, CA","Carrie, T.J.",38.0,t.j.carrie/2550164,SS,205.0,NaN
39,29.0,"Fort Myers , FL",11/30/1987,South Florida,Active,Miami Dolphins,8th season,72.0,Cape Coral HS,FL,"Allen, Nate",NaN,nateallen/2508043,DB,210.0,NaN
45,24.0,NaN,5/5/1993,Akron,Active,Washington Redskins,1st season,75.0,NaN,NaN,"Williams, Isaiah",63.0,isaiahwilliams/2557450,OT,295.0,NaN
52,24.0,"Kansas City , MO",1/15/1993,Pittsburg State,Active,Kansas City Chiefs,2nd season,74.0,Hogan Preparatory Academy HS,"Kansas City, MO","Bausby, DeVante",NaN,devantebausby/2553790,CB,190.0,NaN
54,NaN,NaN,NaN,Massachusetts,Active,Denver Broncos,Rookie,76.0,NaN,NaN,"Wilkinson, Elijah",NaN,elijahwilkinson/2559295,OT,331.0,NaN
63,27.0,"Stockton , CA",1/1/1990,Montana,Active,Los Angeles Rams,6th season,74.0,Edison HS,"Stockton, CA","Johnson, Trumaine",22.0,trumainejohnson/2532877,CB,208.0,NaN

In [14]:
nfl_active.isnull().sum()

Age                      135
Birth Place              572
Birthday                 135
College                    0
Current Status             0
Current Team               0
Experience                 0
Height (inches)            0
High School              574
High School Location     578
Name                       0
Number                  1358
Player Id                  0
Position                   0
Weight (lbs)               0
Years Played            2877
dtype: int64

In [ ]:
nfl_active.drop(['Age', 'Birth Place', 'Birthday', 'High School', 'High School Location',
                'Number', 'Years Played'], axis=1, inplace=True)

In [20]:
nfl_active.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2877 entries, 4 to 17157
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   College          2877 non-null   object
 1   Current Status   2877 non-null   object
 2   Current Team     2877 non-null   object
 3   Experience       2877 non-null   object
 4   Height (inches)  2877 non-null   float64
 5   Name             2877 non-null   object
 6   Player Id        2877 non-null   object
 7   Position         2877 non-null   object
 8   Weight (lbs)     2877 non-null   float64
dtypes: float64(2), object(7)
memory usage: 224.8+ KB